div.ads-banners-popup-container
{
	position: fixed; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	background-color: rgba( 0, 0, 0, 0.5 );
	z-index: -100;
	opacity: 0;
	pointer-events: none;

	visibility: hidden;
}

.ads-banners-popup
{
	display: flex;
	width: 70%;
	margin: auto;
	padding: 15px;
	border-radius: 7px;
	background-color: white;
	position: relative;
}

.ads-banners-popup-close-btn
{
	position: absolute;
	right:15px;
	top:15px;
	cursor: pointer;
}

div.ads-banners-popup-container .wp-block-image,
div.ads-banners-popup-container .wp-block-cover 
{
	margin-bottom: 0px;
}

div.ads-banners-popup-container .wp-block-image figure 
{
	margin-top: 0px;
	margin-bottom: 0px;
}

div.ads-banners-popup-container .wp-block-image figure figcaption
{
	margin-bottom: 0px;
}

@media screen and (max-width: 1200px)
{
	.ads-banners-popup
	{
		max-height: 80vh;
		overflow: scroll;
	}
}
@media screen and (max-width: 768px)
{
	.ads-banners-popup
	{
		width: 85%;
	}
}