.categories-list-object-holder
{
	border: 1px solid silver; 
	border-radius: 6px;
	display: inline-block; 
	padding: 5px; 
	padding-right: 25px;
	position: relative; 
	margin-bottom: 5px;
	transition: 0.3s;
	margin-right: 5px;
}
.categories-list-object-holder:hover
{
	border-color: #00a0d2;
    box-shadow: 0 0 0 1px #00a0d2;
}
.category-sample.categories-list-object-holder
{
	display: none;
}